body {
  background: #2c3138;
  color: #f5f5f5;
  margin: 0;
  font-family: 'Open Sans', arial;
}

.header-app {
    background: #39424e;
    text-align: right;
}

.btn-close {
  border: 0;
  background: #5f6d7f;
  padding: .3em .8em;
  cursor: pointer;
}

.material-icons.md-light {
    color: #fff;
}

.t-app {
    margin: 2em;
}

.tl-app {
    border-left: 3px solid #40d2f3;
    padding-left: 10px;
}

.la {
    background: #49525f;
    padding: 1px 2em 1.8em 2em;
    border-radius: 3px;
}

.author-la {
    border-left: 2px solid #88de17;
    padding-left: 1em;
}

.summary-la {
    border-left: 2px solid #f1b713;
    padding-left: 1em;
    margin-top: 3px;
}

.timestamp-la {
    border-left: 2px solid #e40f7b;
    padding-left: 1em;
    margin-top: 3px;
}

.link-diff-la {
    color: #72d9f1;
    border-left: 2px solid #1b92e6;
    padding-left: 1em;
    display: inline-block;
    margin-top: 3px;
    margin-left: 0;
    text-decoration: none;
}
